---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import DownloadButton from "@components/DownloadButton.astro";
import SheetsBackground from "@components/SheetsBackground.astro";
---

<Layout title="Downloads">
  <main class="text-white">
    <Container>
      <div class="grid grid-cols-1 p-10">
        <div class="flex flex-col items-center justify-center">
          <h1 class="text-5xl text-white mb-10">Download RetroBooks!</h1>
          <p class="text-white xl:px-96">
            Curabitur a odio ornare, hendrerit arcu non, convallis nulla.
            Praesent convallis, nibh et dapibus interdum, est nunc ornare ipsum,
            eget convallis metus ante id ipsum. Praesent at purus id tellus
            aliquam gravida ac ac dolor. Sed malesuada turpis nec mauris commodo
            auctor.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-2 p-10 xl:px-60">
        <div class="col-span-1 flex flex-col items-center justify-center">
          <h3 class="text-2xl mb-5">DESKTOP</h3>
          <DownloadButton text="Mac OS" icon="mac_mini" />
          <DownloadButton text="Windows" icon="windows" />
        </div>
        <div class="col-span-1 flex flex-col items-center justify-center">
          <h3 class="text-2xl">MOBILE</h3>
          <DownloadButton text="Apple Store" icon="apple_logo" />
          <DownloadButton text="Android" icon="google_play" />
        </div>
      </div>
      <SheetsBackground />
    </Container>
  </main>
</Layout>
