---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="Downloads">
  <main class="bg-violet-300">
    <Container />
  </main>
</Layout>
