---
import Container from "@components/Container.astro";
---

<footer
  class="page-footer text-white w-full p-8 bg-retro-black overflow-hidden [&>div]:relative [&>div]:z-10 mb-0"
>
  <Container>
    <div class="grid grid-cols-2">
      <div class="col-span-1 p-10">
        <a href="/">
          <h2 class="text-3xl">RetroBooks</h2>
          <h3 class="text-2xl">By RetroKode</h3>
        </a>
      </div>
      <div class="col-span-1">
        <nav
          class="flex flex-col lg:flex-col gap-12 md:gap-4 justify-between w-full align-middle items-end"
        >
          <a class="text-sm opacity-50 hover:opacity-100" href="#">Utility</a>
          <a class="text-sm opacity-50 hover:opacity-100" href="/download"
            >Download</a
          >
          <a class="text-sm opacity-50 hover:opacity-100" href="/support"
            >Support</a
          >
          <a class="text-sm opacity-50 hover:opacity-100" href="/premium"
            >Price</a
          >
          <a class="text-sm opacity-50 hover:opacity-100" href="/support"
            >Discord</a
          >
        </nav>
      </div>
    </div>
  </Container>
</footer>
