<div class="md:absolute w-100 lg:w-100 flex items-center justify-center">
  <a
    class="md:relative block hover:scale-125 transition"
    href="/"
    aria-label="Ir a la página principal"
  >
    <span class="font-krona text-white text-4xl">RetroBooks</span>
  </a>
</div>
