<div
  class={"z-[-10] absolute inset-0 opacity-10 bg-[size:30%] bg-bottom bg-no-repeat -left-96 w-9/12 h-auto"}
  style={`background-image:url('./svgs/sheet.svg')`}
>
</div>
<div
  class={"z-[-10] absolute inset-0 opacity-10 bg-[size:30%] bg-right-top bg-no-repeat h-auto right-0"}
  style={`background-image:url('./svgs/sheet.svg')`}
>
</div>
